:root {
  --iris: #4d5ae5;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --white: #ffffff;
  --cloud: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* HEADER */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  text-decoration: none;
  margin-right: 76px;
}

.logo-part {
  color: var(--navy-blue);
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-decoration: none;
  padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-decoration: none;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* HERO */
.hero-section {
  background-color: var(--navy-blue);
  text-align: center;
  padding: 188px 0;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* SECTIONS */
.section {
  padding: 120px 0;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  text-align: center;
  margin-bottom: 72px;
}

/* FEATURES */
.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  flex-basis: calc((100% - 72px) / 4);
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* PORTFOLIO & TEAM */
.portfolio-list,
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-item,
.team-card {
  background-color: var(--white);
}

.portfolio-title,
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-align: center;
  margin: 32px 0 8px;
}

.portfolio-text,
.team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 32px;
}

/* TEAM SECTION */
.team-section {
  background-color: var(--cloud);
}

/* FOOTER */
.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.logo-part-footer {
  color: var(--cloud);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  max-width: 264px;
  margin-top: 16px;
}